<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>

<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!-- Adicionando JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous">
	
</script>

<!-- Adicionar um  datepicker para adicionar ao campo data -->



<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}
</style>
<title>Cadastro de Pessoa</title>
</head>
<body>
	<h3>Spring Boot + Thymeleaf + Materialize</h3>


	<fieldset>
		<legend>Cadastro de Usuários</legend>
		<div class="row">

			<br />
			<div th:each="m : ${msg}">
				<span th:text="${m}"></span>
			</div>
			<br />

			<form action="salvarpessoa" method="post" th:object="${pessoaobj}"
				class="col s8" id="formpessoa" enctype="multipart/form-data">

				<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
					<div class="input-field col s4">
						<label for="id" class="active">ID:</label>
						<br/><input name="id" th:field="*{id}" readonly id="id">
					</div>
					<div class="input-field col s4">
						<label for="nome" class="active">Nome:</label>
						<br/><input name="nome" th:field="*{nome}" id="nome" class="validate"
							placeholder="Nome">
					</div>
				</div>
				
				<div class="row" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_CAIXA')">
					<div class="input-field col s4">
						<label for="sobrenome" class="active">Sobrenome:</label><br /> <input
							name="sobrenome" th:field="*{sobrenome}" id="sobrenome"
							class="validate">
					</div>
					<div class="input-field col s4" >
						<label for="idade" class="active">Idade:</label><br /> <input
							name="idade" th:field="*{idade}" id="idade" class="validate">
					</div>
				</div>

				<button class="btn waves-effect waves-light" type="submit"
					name="action">
					Salvar<i class="material-icons right">send</i>
				</button>
				<button type="reset" value="Reset"
					class="btn waves-effect waves-light">
					Reset<i class="material-icons right">autorenew</i>
				</button>
				
			</form>
		</div>
	</fieldset>
	<br/>
	<br/>	
	
	<!-- esse formulário é só para pessquisa por nome o parâmetro que envia é o nomepesquisa-->

	<fieldset>
		<legend>Campos de Pesquisa</legend>
		<div class="row">
			<form action="pesquisarpessoa" method="post" class="col s8"
				id="pesquisarpessoa">
				
				<div class="input-field col s4">
						<label for="nomepesquisa" class="active">Pesquisar por Nome:</label><br />
						<input name="nomepesquisa" id="nomepesquisa" class="validate">
				</div>
				
				<div>	
					<button class="btn waves-effect waves-light" type="submit"
					name="action">Buscar<i class="material-icons right ">find_in_page</i>
					</button>
				
					<a class="waves-effetc waves-light btn" href="/listapessoas">Listar Pessoas</a>
				</div>
				
			</form>
		</div>
	</fieldset>
	<br />
	
	
	
<fieldset>
		<legend>Lista de Usuários</legend>
	<table border=1 class="striped">
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>Sobrenome</th>
				<th>Currículo</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
	
	
		<tr th:each="pessoa :${pessoas}">
			<td th:text="${pessoa.id}"></td>
			<td><a th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span
					th:text="${pessoa.nome}"></span></a></td>
			<td th:text="${pessoa.sobrenome}"></td>
			<td th:text="${pessoa.idade}"></td>
			<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
				<i class="material-icons">edit</i></a></td>
			<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">
				<i class="material-icons">delete</i></a></td>	
				
		</tr>
	</table>
</fieldset>


</body>
</html>