<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style type="text/css">
table.striped>tbody>tr:nth-child(odd) {
	background-color: rgba(158, 154, 154, 0.5);
}
</style>


<title>Telefones</title>
</head>
<body>


	<h3>Spring Boot + Thymeleaf + Materialize</h3>
	
	<br/>
	<a href="/cadastropessoa">Voltar</a>
	<br />
	<br/>
	
	
	<!--O p é variável para a tela e o pessoaobj é a que vem do lado do servidor -->
	<fieldset>
		<legend>Dados do Usuário</legend>
	<div th:each="p : ${pessoaobj}">	
		<div class="row">
			<p>ID: <span th:text="${p.id}"></span><p/>
			<p>Nome: <span th:text="${p.nome}"></span><p/>
			<p>Sobrenome: <span th:text="${p.sobrenome}"></span><p />
		</div>
	</div>
	
	</fieldset>
	
	
	<br/>
	
	
	<fieldset>
		<legend>Cadastrar Telefone</legend>
	<div class="row">

		<!-- Mensagem de erro que vem do servidor e apresenta na tela: -->

		<br />
		<div th:each="m : ${msg}">
			<span th:text="${m}"></span>
		</div>
		<br />

		<!-- addfonepessoa é o método do lado do servidor o id da pessoa serve para amarrar o telefone ao usuário 
		Quando utilizamos uma ação com o ThimeLeaf tem que ser com a tag th:action -->
		<form th:action="@{/addfonepessoa/{pessoaid}(pessoaid=${pessoaobj.id})}"
			method="post" class="col s8"
			onsubmit="return validarCampos()? true : false">
			<div class="row">
				<div class="input-field col s4">
					<label class="active" for="numero">Número</label> <input
						id="numero" name="numero" class="validate">
				</div>

				<div class="input-field col s4">
					<label class="active" for="tipo">Tipo</label> <input id="tipo"
						name="tipo" class="validate">
				</div>
				<br />

				<button class="btn waves-effect waves-light" type="submit"
					name="action">Adicionar<i class="material-icons right">send</i>
				</button>
			</div>
		</form>
	</div>
	
	<br/>
	
	
</fieldset>
	
	
<fieldset>
		<legend>Telefones Cadastrados</legend>
	<table border=1 class="striped">
		<thead>
			<tr>
				<th>Telefone</th>
				<th>Tipo</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tr th:each="fone : ${telefones}">
			<td th:text="${fone.numero}"></td>
			<td th:text="${fone.tipo}"></td>
			<td><a
				th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}"><i
					class="material-icons">remove_circle</i></a></td>
	</table>
</fieldset>


	<script type="text/javascript">
		function validarCampos() {

			numero = document.getElementById('numero').value;
			tipo = document.getElementById('tipo').value;

			if (numero === '') {
				alert('Numero deve ser informado!')
				return false;
			} else if (tipo === '') {
				alert('Tipo deve ser informado!')
				return false;
			}

			return true;

		}
	</script>


</body>
</html>